html {
    --app-container: #1f1d2b;
    --main-color: #111827;
    --main-transparent: rgba(17, 24, 39, 0.9);
    --secondary-color: rgb(41, 49, 59);
    --secondary-transparent: rgba(41, 49, 59, 0.4);
    --projects-section: rgb(31, 41, 55);
    --link-color: rgb(255, 255, 255);
    --link-color-hover: rgb(255, 255, 255);
    --link-color-active: rgb(255, 255, 255);
    --link-color-active-bg: rgb(39, 126, 189);
    --drop-shadow: rgba(173, 173, 173, 0.4);
    --button-bg: rgb(39, 126, 189);
    --container-bg: #445968;
    --text-color: rgb(255, 255, 255);
    --base-color: rgb(66, 105, 151);
    --box-shadow-primary: rgba(209, 209, 209, 0.122);
    --box-shadow-secondary: rgba(201, 201, 201, 0.239);
    --button-background-after: rgb(246, 246, 246);
    --accent-first:rgb(75, 128, 163);
    --accent-second:rgb(66, 92, 147);
    --accent-third:rgb(65, 69, 143);
    --shadow-smooth:0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.075), 0 4px 4px rgba(0,0,0,0.075), 0 2px 8px rgba(0,0,0,0.15);
    --nav-color: rgba(32, 32, 32, 0.6);
    }