html, body {
	margin:0;
	background-color: #2C313C;
	color: #949aa7;
	padding:0;
	font-size:0;
	overflow:hidden;
	font-family:var(--font-family);
}

.clickable {
	cursor:pointer !important;
}

.noselect {
	-webkit-user-select:none !important;
	-khtml-user-select:none !important;
	-moz-user-select:none !important;
	-ms-user-select:none !important;
	user-select:none !important;
	outline:none !important;
}

.hidden {
	display:none !important;
	visibility:hidden !important;
	position:absolute !important;
	z-index:-1 !important;
}

.uppercase {
	text-transform:uppercase !important;
}

.top-bar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
	filter: drop-shadow(0px 5px 10p #000);
	background-color: #FFFFFF;
	-webkit-user-select: none;
}

.title-bar {
	display: flex;
    flex-direction: row;
    align-items: center;
	width: 100%;
}

.toggle-button {
	width: 45px;
	height: 40px;
	border: none;
	outline: none;
	background-color: transparent;
    background-image: url("../img/gear.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.25s;
	cursor: pointer;
}

.toggle-button:hover {
	background-color: #448ec3;
}

.toggle-button:active{
	background-color: #277EBD;
	height: 230px;
	width: 50px;
}

.toggle-button:active > img {
	color: white;
}

.title-bar > img {
	margin-top: 10px;
}

.title {
	margin-left: 10px;
	width: 100%;
	line-height: 30px;
	margin-top: 5px;
	padding-bottom: 5px;
	-webkit-app-region: drag;
}

.title-bar-buttons {
	display: flex;
    flex-direction: row;
	width: 120px;
	height: 40px;
}

.top-button {
	width: 40px;
	height: 40px;
    border: none;
    outline: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
    transition: 0.25s;
	cursor: pointer;
}

.top-button:hover{
	background-color: #272C36;
}

.top-button:active{
	background-color: #277EBD;
	height: 40px;
	width: 40px;
}

.minimize-button {
	background-image: url('../icons/minimze.png');
}

.restore-button {
	background-image: url('../icons/restore.png');
}

.maximize-button {
	background-image: url('../icons/maximize.png');
}

.close-button {
	background-image: url('../icons/close.png');
}

.left-menu {
	width: 270px;
	height: 100%;
    background-color: #F4F5F7;
	transition: 0.4s;
}

.app-content {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
	border: 1px solid #343848;
	-webkit-box-sizing: border-box;
}

#web .app-content {
	top:0;
	height:100%;
}

::-webkit-scrollbar, div::-webkit-scrollbar {
	display:block;
	width:4px;
	height:6px;
	background:var(--main-fifth);
	border-radius:5px;
}
::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:var(--main-contrast-darker);
}
::-webkit-scrollbar-thumb:hover, div::-webkit-scrollbar-thumb:hover {
	background:var(--accent-first);
}
::-webkit-scrollbar-track, div::-webkit-scrollbar-track { 
	background:var(--main-first);
	border-radius:5px;
}

#background {
	pointer-events:none;
	transform:rotate(180deg);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	background-size:cover;
	background-attachment:fixed;
	z-index:1;
}
html.alternate-background #background {
	transform:rotate(0deg);
}

.loading-screen {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:850;
	background:rgb(200,200,200);
}
.loading-overlay {
	display:none;
	pointer-events:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	background:rgb(200,200,200);
	transition:none;
	z-index:99;
}
.loading-overlay.active {
	display:block;
	pointer-events:all;
}
.loading-overlay span {
	width:100%;
	line-height:30px;
	font-size:24px;
	color:rgb(235,235,235);
	position:absolute;
	top:calc(50% - 30px / 2);
	text-align:center;
	display:block;
	position:absolute;
}
.loading-screen span {
	font-size:18px;
	font-weight:bold;
	color:rgb(255,255,255);
	display:block;
	text-align:center;
	width:100%;
	line-height:40px;
	position:absolute;
	top:calc(50% - 40px / 2 + 70px);
	pointer-events:none;
}
.loading-icon {
	display:inline-block;
	position:absolute;
	top:calc(50% - 80px / 2);
	left:calc(50% - 80px / 2);
	width:80px;
	height:80px;
}
.loading-icon div {
	position:absolute;
	border:4px solid rgb(75, 95, 159);
	opacity:1;
	border-radius:50%;
	animation:loading-icon 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-icon div:nth-child(2) {
	animation-delay:-0.5s;
}
@keyframes loading-icon {
	0% {
		top:36px;
		left:36px;
		width:0;
		height:0;
		opacity:1;
	}
	100% {
		top:0px;
		left:0px;
		width:72px;
		height:72px;
		opacity:0;
	}
}
