* {
	font-family: Inter, sans-serif;
}

body {
	margin:0;
	background: url("../images/rose-petals.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	padding:0;
	font-size:0;
	overflow:hidden;
}


.clickable {
	cursor:pointer !important;
}

.noselect {
	-webkit-user-select:none !important;
	-khtml-user-select:none !important;
	-moz-user-select:none !important;
	-ms-user-select:none !important;
	user-select:none !important;
	outline:none !important;
}

.hidden {
	display:none !important;
	visibility:hidden !important;
	position:absolute !important;
	z-index:-1 !important;
}

.uppercase {
	text-transform:uppercase !important;
}

.titlebar {
	transition:none;
	position:absolute;
	width:100%;
	height:36px;
	top:0;
	left:0;
	box-shadow:var(--shadow-smooth);
	background:var(--main-second);
	-webkit-app-region:drag;
	z-index:900;
}
#web .titlebar {
	display:none;
}
.window-buttons {
	transition:none;
	font-size:0;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:902;
	width:220px;
}
.window-buttons button {
	display:inline-block;
	width:18px;
	height:18px;
	margin:9px 0 0 9px;
	padding:0;
	border-radius:50%;
	cursor:default;
	vertical-align:top;
	-webkit-app-region:no-drag;
	position:relative;
}
.window-buttons button:hover svg {
	opacity:1;
}
.window-buttons button.close-button {
	background:var(--colorful-gradient);
}
.window-buttons button.minimize-button {
	background:var(--orange-gradient);
}
.window-buttons button.maximize-button {
	background:var(--blue-gradient);
}
.window-buttons button svg {
	fill:rgb(255,255,255);
	width:70%;
	height:70%;
	position:absolute;
	top:2px;
	left:15%;
	opacity:0;
	transition:opacity 0.25s;
}
.window-buttons button.maximize-button svg {
	width:60%;
	height:60%;
	top:3.2px;
	left:calc((100% - 60%) / 2);
}

.app-content {
	position:absolute;
	top:36px;
	left:0;
	height:calc(100% - 36px);
	width:100%;
}
#web .app-content {
	top:0;
	height:100%;
}

.noscript-wrapper {
	position:absolute;
	z-index:890;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background:rgba(0,0,0,0.7);
	backdrop-filter:blur(4px);
}
.noscript-wrapper span {
	display:block;
	text-align:center;
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:rgb(255,255,255);
}

#background {
	pointer-events:none;
	transform:rotate(180deg);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	background-size:cover;
	background-attachment:fixed;
	z-index:1;
}
html.alternate-background #background {
	transform:rotate(0deg);
}

.loading-screen {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:850;
	background:rgb(20,20,20);
}
.loading-overlay {
	display:none;
	pointer-events:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	background:rgb(20,20,20);
	transition:none;
	z-index:99;
}
.loading-overlay.active {
	display:block;
	pointer-events:all;
}
.loading-overlay span {
	width:100%;
	line-height:30px;
	font-size:24px;
	color:rgb(235,235,235);
	position:absolute;
	top:calc(50% - 30px / 2);
	text-align:center;
	display:block;
	position:absolute;
}
.loading-screen span {
	font-size:18px;
	font-weight:bold;
	color:rgb(255,255,255);
	display:block;
	text-align:center;
	width:100%;
	line-height:40px;
	position:absolute;
	top:calc(50% - 40px / 2 + 70px);
	pointer-events:none;
}
.loading-icon {
	display:inline-block;
	position:absolute;
	top:calc(50% - 80px / 2);
	left:calc(50% - 80px / 2);
	width:80px;
	height:80px;
}
.loading-icon div {
	position:absolute;
	border:4px solid var(--accent-first);
	opacity:1;
	border-radius:50%;
	animation:loading-icon 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-icon div:nth-child(2) {
	animation-delay:-0.5s;
}
@keyframes loading-icon {
	0% {
		top:36px;
		left:36px;
		width:0;
		height:0;
		opacity:1;
	}
	100% {
		top:0px;
		left:0px;
		width:72px;
		height:72px;
		opacity:0;
	}
}