node_modules
*.hprof
out
.vscode


# AI Deep Learning Model
AI/Image Enhancement/ESRGAN
AI/Deep Learning Model/data
AI/Deep Learning Model/aug_data
AI/Deep Learning Model/logs
AI/Deep Learning Model/augmented-data
AI/Deep Learning Model/libraries

# API for Deep Learning Model
API/__pycache__/