node_modules
*.hprof
out
.vscode


# AI face_detection
AI/Image Enhancement/ESRGAN
AI/face_detection/data
AI/face_detection/aug_data
AI/face_detection/logs
AI/face_detection/augmented-data
AI/face_detection/libraries

# API for face_detection
API/__pycache__/
venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.firebaserc
firebase.json
.firebase
template.html
.elasticbeanstalk

package.json
package-lock.json
notes.txt
