<!DOCTYPE html>
<html lang="en" id="app">
  <head>
    <script src="../assets/js/app-settings.js"></script>

    <link href="../assets/css/global.css" rel="stylesheet">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="../assets/css/dark.css" rel="stylesheet">
    <link href="../assets/css/light.css" rel="stylesheet">

    <link class="favicon" rel="apple-touch-icon" sizes="180x180" href="../assets/icons/logo.png">
		<link class="favicon" rel="icon" type="image/png" sizes="32x32" href="../assets/icons/logo.png">
		<link class="favicon" rel="icon" type="image/png" sizes="16x16" href="../assets/icons/logo.png">
		<link class="favicon" rel="shortcut icon" href="../assets/icons/logo.ico">

    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta class="browser-theme" name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8" />

    <title>FaceCCTV</title>
  </head>
  <body>
    <div class="app-content" id="app-content">
      <div class="top-bar" id="top-bar">
        <div class="title-bar" id="title-bar">
          <button id="show-hide-menus" class="toggle-button"></button>
          <div id="title" class="title">
            FaceCCTV
          </div>
        </div>
        <div id="title-bar-buttons" class="title-bar-buttons">
          <button id="minimize-button" class="top-button toggle-minimize"></button>
          <button id="expand-button" class="top-button toggle-expand"></button>
          <button id="close-button" class="top-button toggle-close"></button>
        </div>
      </div>
			<div id="background"></div>
			<div class="loading-overlay active noselect" id="loading-overlay"><div class="loading-icon"><div></div><div></div></div></div>

      <div id="side-navigation" class="left-menu">

      </div>

      

      <div id="dom-cache"></div>
      <noscript>
				<div class="noscript-wrapper noselect">
					<span>JavaScript is required for this app to function.</span>
				</div>
			</noscript>
    </div>

    <script src="../assets/js/functions.js"></script>
    <script src="../assets/js/defaults.js"></script>
    <script src="../assets/js/page-assets.js"></script>
    <script src="../assets/js/user-settings.js"></script>
    <script src="../assets/js/renderer.js"></script>
  </body>
</html>