html.dark-mode {
    --main-first:rgb(20,20,20);
	--main-first-transparent:rgba(20,20,20,0.6);
	--main-second:rgb(40,40,40);
	--main-second-transparent:rgba(40,40,40,0.3);
	--main-third:rgb(50,50,50);
	--main-fourth:rgb(60,60,60);
	--main-fifth:rgb(75,75,75);

    --accent-first:rgb(27, 72, 121);
	--accent-second:rgb(41, 102, 150);
	--accent-third:rgb(56, 126, 172);
    --accent-fourth:rgb(147, 174, 193);

    --blue-gradient:linear-gradient(to right, #4A87B1 0%, #236B9D 100%);
	--cosmic-gradient:linear-gradient(330deg, #ff00cc, #333399);
}