html.light  {
    --app-container: rgb(255, 255, 255);
    --main-color: rgb(228, 229, 231);
    --main-transparent: rgba(228, 229, 231, 0.9);
    --secondary-color: rgb(247, 247, 247);
    --secondary-transparent: rgba(247, 247, 247, 0.4);
    --link-color: rgb(169, 175, 187);
    --link-color-hover: rgb(255, 255, 255);
    --link-color-active: rgb(255, 255, 255);
    --link-color-active-bg: rgb(39, 126, 189);
    --drop-shadow: rgba(0, 0, 0, 0.4);
    --button-bg: rgb(39, 126, 189);
    --container-bg: rgb(127, 162, 187);
    --text-color: rgb(0, 0, 0);
    --base-color: rgb(98, 153, 220);
    --box-shadow-primary: #0000001f;
    --box-shadow-secondary: #0000003d;
    --button-background-after: rgb(246, 246, 246);
    --accent-first:rgb(95, 164, 209);
    --accent-second:rgb(95, 132, 209);
    --accent-third:rgb(95, 100, 209);
    --shadow-smooth:0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.075), 0 4px 4px rgba(0,0,0,0.075), 0 2px 8px rgba(0,0,0,0.15);
    --nav-color: rgb(255, 255, 255, 0.3);
  }