html.dark {
  --app-container: #1f1d2b;
  --main-color: rgb(17, 24, 39);
  --main-transparent: rgba(17, 24, 39, 0.9);
  --secondary-color: rgb(41, 49, 59);
  --secondary-transparent: rgba(41, 49, 59, 0.4);
  --projects-section: rgb(31, 41, 55);
  --link-color: rgb(255, 255, 255);
  --link-color-hover: rgb(255, 255, 255);
  --link-color-active: rgb(255, 255, 255);
  --link-color-active-bg: rgb(39, 126, 189);
  --drop-shadow: rgba(173, 173, 173, 0.4);
  --button-bg: rgb(39, 126, 189);
  --container-bg: #445968;
  --text-color: rgb(255, 255, 255);
  --base-color: rgb(66, 105, 151);
  --box-shadow-primary: rgba(209, 209, 209, 0.122);
  --box-shadow-secondary: rgba(201, 201, 201, 0.239);
  --button-background-after: rgb(246, 246, 246);
  --accent-first:rgb(75, 128, 163);
  --accent-second:rgb(66, 92, 147);
  --accent-third:rgb(65, 69, 143);
  --shadow-smooth:0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.075), 0 4px 4px rgba(0,0,0,0.075), 0 2px 8px rgba(0,0,0,0.15);
  }

html  {
    --app-container: rgb(255, 255, 255);
    --main-color: rgb(228, 229, 231);
    --main-transparent: rgba(228, 229, 231, 0.9);
    --secondary-color: rgb(247, 247, 247);
    --secondary-transparent: rgba(247, 247, 247, 0.4);
    --link-color: rgb(169, 175, 187);
    --link-color-hover: rgb(255, 255, 255);
    --link-color-active: rgb(255, 255, 255);
    --link-color-active-bg: rgb(39, 126, 189);
    --drop-shadow: rgba(0, 0, 0, 0.4);
    --button-bg: rgb(39, 126, 189);
    --container-bg: rgb(127, 162, 187);
    --text-color: rgb(0, 0, 0);
    --base-color: rgb(98, 153, 220);
    --box-shadow-primary: #0000001f;
    --box-shadow-secondary: #0000003d;
    --button-background-after: rgb(246, 246, 246);
    --accent-first:rgb(95, 164, 209);
    --accent-second:rgb(95, 132, 209);
    --accent-third:rgb(95, 100, 209);
    --shadow-smooth:0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.075), 0 4px 4px rgba(0,0,0,0.075), 0 2px 8px rgba(0,0,0,0.15);
  }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.button, a{
    transition: 0.25s;
    cursor: pointer;
}

.noscript-wrapper {
	position:absolute;
	z-index:890;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background:rgba(0,0,0,0.7);
	backdrop-filter:blur(4px);
}
.noscript-wrapper span {
	display:block;
	text-align:center;
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:var(--app-container);
}

#web .app-only {
	display:none;
}

.app-container {
    width: 100%;
    height: 100%;
    background: url('../img/rose-petals.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    transition: 0.25s;
}

.app-content {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.app-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  background-color: var(--app-container);
  color: var(--text-color);
  filter: drop-shadow(var(--shadow-smooth));

  @media (max-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.app-header-left {
    display: flex;
    align-items: center;
}

.app-header-right {
    display: flex;
    align-items: center;
}

.mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 15px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.page-content {
flex: 1;
width: 100%;
}

.app-sidebar-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 1.5px;
    flex-shrink: 0;
}

.app-sidebar {
    display: flex;
    flex-direction: column;
    transition: 0.25s;
    width: 260px;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--link-color);
}

.app-sidebar-link:hover {
    background-color: var(--button-bg);
    color: var(--link-color-hover);
}

.app-sidebar-link.active {
    background-color: var(--button-bg);
    color: var(--link-color-active);
}

.app-main {
  flex: 2;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 32px 32px 0 32px;
  margin: 30px 30px;
  border-radius: 32px;
  flex-direction: column;
  height: 100% - 50px;
  background-color: var(--container-bg);
}

.image-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--container-bg);
  margin-bottom: 20px;
}

.image-container-header .title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: var(--text-color)
}

.image-container-subheader .subtitle {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color)
}

.box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: var(--base-color);
  border-radius: 5px;
  box-shadow: var(--shadow-smoth);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}
  
.upload-options {
  position: relative;
  height: 75px;
  background-color: var(--base-color);
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}

.upload-options:hover {
  background-color: lightenvar(var(--base-color, 10%));
}

.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.upload-options::after {
  content: 'add'; 
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}

.upload-options span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.upload-options:hover, i.material-icons {
  color: var(--base-color);        
}

  
.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('');
  background-color: var(--link-color-active);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.js--image-preview::after {
    content: "photo_size_select_actual"; 
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: var(--button-background-after);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
}

.js--no-default::after {
    display: none;
}

js--image-preview:nth-child(2) {
    background-image: url('http://bastianandre.at/giphy.gif');
}

  
i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: var(--link-color-active);
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize(var(--base-color, .8));
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.toggle {
  width: 6rem;
  height: 6rem;
  background-color: #eee8e1;
  position: absolute;
  top: 7rem;
  right: 7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
  
html.dark .toggle {
    background-color: #464646;
  }
  
.toggle i {
  font-size: 4rem;
  color: #777;
}
  
html.dark .toggle i {
    color: #ddd;
  }

.display-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  background: #FFF;
}
  
.notification {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  margin-top: 15px;
}

.notification--information {
  background: #E4F5FF;
  border-color: #4a5f6d;
  color: #4a5f6d;
}
    
.notification--warning {
  background: #FFF5AE;
  border-color: #654a1c;
  color: #654a1c;
}

.notification--error {
  background: #FFC0C0;
  border-color: #8c1a1a;
  color: #8c1a1a;
}

.notification--system {
  background: #e8e8e8;
  border-color: #636363;
  color: #636363;
}

.notification--success {
  background: #e1ffdf;
  border-color: #2c4a2c;
  color: #2c4a2c;
}

.notification--new {
  background: #CCFBFB;
  border-color: #3f6565;
  color: #3f6565;
}


.notification__icon-block {
margin-right: 15px;
}

.notification__icon {
font-size: 32px;  
}

.notification__content-block {
margin-right: 50px;  
}

.notification__par {
margin: 0;
}

.notification__close-link {
position: absolute;
right: 0;
padding: 0 15px;
color: #4C83FF;
}